
#signin{
  margin: 0px 0px 0 0;
  float:right;
  font-size: 30px;
  color: #3c3c3c;
  text-decoration: none;
}
#signin a{
  margin: 0px 0px 0 0;
  float:right;
  font-size: 30px;
  color: #3c3c3c;
  text-decoration: none;
}

ul#menu
{
  position:absolute;
 padding: 0 0 0 500px;
 float: right;
  margin: 50px 0 0 150px;
}

ul#menu li
{
  font-size: 20px;
  float: left;
  padding: 0 0 0 20px;
  list-style: none;
  margin: 1px 2px 0 0;
  background: transparent;
}

ul#menu li a
{  font-family: 'Aladin';font-size: 22px;
  display: block; 
  float: right; 
  height: 20px;
  padding: 6px 35px 5px 28px;
  text-align: center;
  color: #3c3c3c;
  text-decoration: none;
  background: transparent;} 



ul#menu li.selected
{ margin: 1px 2px 0 0;
  background: #A21FA2;}

ul#menu li.selected a, ul#menu li.selected a:hover
{ background: #A21FA2;
  color: #3c3c3c;}

ul#menu li a:hover
{ color: #3c3c3c;
  background: #A21FA2;}


 #side_bar
{ text-align:justify;
  width: 800px;
  padding: 0 0 0 5px;
  float: left;}

  #image
{ 
   padding: 0 0 10px 20px;
  margin-top: 20;
  width: 500px;
  height: 500px;
  padding:0;
  float: right;


}

  

